.mainMsgList {
  padding: 20px 60px;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.chatContent {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 18px;
  max-width: 80%;
  margin-bottom: 20px;
  min-height: 42px;
}

.chatContent.userContent {
  background-color: aliceblue;
}

.chatContent.assistantContent {
  background-color: white;
}
