.mainMsgList {
  padding: 20px 60px;
  height: 100%;
  overflow-y: auto;
  position: relative;

  .chatItem {

    .chatContent {
      padding: 10px 20px;
      font-size: 14px;
      line-height: 22px;
      border-radius: 18px;
      max-width: 80%;
      margin-bottom: 20px;
      min-height: 42px;
      word-break: break-all;
      word-wrap: break-word;
      position: relative;
    }

    .moreActionBtn {
      position: absolute;
      right: -24px;
      bottom: 0;
      display: block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: #1890ff;
      }
    }

    .chatContent.userContent {
      background-color: aliceblue;

      .moreActionBtn {
        left: -24px;
      }
    }

    .chatContent.assistantContent {
      background-color: white;
    }

    .avatar {
      flex-shrink: 0;
    }
  }
}


//适配手机端
@media screen and (max-width: 768px) {
  .mainMsgList {
    padding: 20px 20px;

    .chatItem {
      .chatContent {
        max-width: 100%;
      }
    }
  }
}