.sendBoxWrapper {
  width: 80%;
  padding: 8px;
  border-radius: 24px;
  background-color: #ededed;
  justify-content: space-between;
  align-items: end;
}

.sendBoxWrapper textarea {
  border: none;
  outline: none;
  border-radius: 0;
  resize: none;
  background: none;
}

.sendBoxWrapper textarea:hover,
.sendBoxWrapper textarea:active,
.sendBoxWrapper textarea:focus {
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
}

@media screen and (max-width: 768px) {
  .sendBoxWrapper {
    width: 100%;
  }
}